<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3ECGAPbaCdlQPb5L0Vppy5pQ69C7VlHg</string>
	<key>GCM_SENDER_ID</key>
	<string>361953437980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sqfliteApplication</string>
	<key>PROJECT_ID</key>
	<string>sqflite-c1710</string>
	<key>STORAGE_BUCKET</key>
	<string>sqflite-c1710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361953437980:ios:a7d12bc2147bcbb161f2d9</string>
</dict>
</plist>